<!DOCTYPE html>
<html>

<head>
  <title>Smartcoos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header align="center"> 
    <%=render "layouts/header"%>
  </header>
    <div class="row">
      <div class="col-md-2" align="center">
      </div>
      <div id="left-frame" class="col-md-4" align="left">
        <div class="blank"></div>
        <div id="ytplayer"></div>        
      </div>
      <div id="right-frame" class="col-md-4" align="left">
        <div class="blank"></div>
        <div id="ad" class="jumbotron" align="center" style="width:100%; height:10px">
          <h3> What your baby learn today, she will need tomorrow.</h3><br>
          <h4>Try it out. Pick a language.</h4><br>
          <table>
            <tr>
              <td width="50%"><%=button_to 'english', 'http://smartcoos.com/a/user/register/en', :class=>"btn btn-primary",:method => :get%></td>
              <td width="50%"><%=button_to 'spanish','http://smartcoos.com/a/user/register/sp',:class=>"btn btn-primary",:method => :get%></td>
            </tr>
          </table>
        </div>      
      </div>
      <div class="col-md-2" align="center">
      </div>
      <%= yield %>
    </div>
    <div class="row">        

      <div class="col-md-4" align="center">
      </div>
      <div class="col-md-4" align="center">
        
        <ul class="nav nav-pills blue" role="tablist">
          <li class="active"><a href="#">Testimonial</a></li>
        </ul>
        <div class="panel panel-default">
          My child is learning a second and third language from a native speaker at my convenience. Because he is starting so early with Smart Coos, he gets the chance to speak like a native and benefits from the higher thinking skills that comes with early exposure.<br><br>
          <div align="right">
          <span style="text-decoration: underline;">Regina P., Palm Beach, Florida</span>
          </div>
        </div>
      </div>
      <div class="col-md-4" align="center">

      </div>
        
    </div>
    <footer>
      <%=render "layouts/footer"%>      
    </footer>
</body>
</html>
<script>
  // Load the IFrame Player API code asynchronously.

  var parentwidth = document.getElementById("left-frame").offsetWidth;
  document.getElementById("ad").setAttribute("style","height:"+String(parentwidth/1.7)+"px;");
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: String(parentwidth/1.7),
      width: '100%',
      videoId: 'QX_X3hlaahk'
    });
  }
  $(document).on('page:load',onYouTubePlayerAPIReady);
</script>    